In [1]:
name="python is fun"
print(name)

python is fun

In [4]:
age=int(input("what's your age: "))
print(age)

what's your age: 34
34

## Iterable Objects

## iterable objects are used to loop over elements one after the order.
## we  have five types of iterable objects.
## Turple
## List
## Dictionary
## Range

In [ ]:
## Turple 
## Turple is unchangeable
## Turple uses the bracket()
## Turple uses index location to acess element.

In [5]:
number=(10,20,30,40,50,100,80,"favour")
print(number)
print(type(number))
print(len(number))

(10, 20, 30, 40, 50, 100, 80, 'favour')
<class 'tuple'>
8

In [10]:
## forward index
print(number[6])

80

In [9]:
print(number[7])

favour

In [11]:
## backward index
print(number[-5])

40

## Range Index
print(number[1:8])# add 1 imaginary

In [13]:
## Forward and back ward range
print(number[1:-1])

(20, 30, 40, 50, 100, 80)

In [14]:
## forward range
print(number[0::])

(10, 20, 30, 40, 50, 100, 80, 'favour')

In [15]:
## reverse range
print(number[::-1])

('favour', 80, 100, 50, 40, 30, 20, 10)

## List

In [16]:
## list changeable
## list use the square bracket for identification []
## list use the index location to also acess each element.

In [4]:
fruits=["strawberry","orange","pineaple","cherry","watermelon",45,95.0,]
print(fruits)

['strawberry', 'orange', 'pineaple', 'cherry', 'watermelon', 45, 95.0]

In [19]:
print(fruits[3])

cherry

In [6]:
fruits.append("pawpaw")## append is used to add element to the list
print(fruits)

['strawberry', 'orange', 'pineaple', 'cherry', 'watermelon', 45, 95.0, 'pawpaw']

In [7]:
fruits.remove("pawpaw")

In [25]:
print(fruits)

['strawberry', 'orange', 'pineaple', 'cherry', 'watermelon', 45, 95.0]

In [30]:
fruits.extend(["mango","apple","banana","grape"])

In [27]:
print(fruits)

['strawberry', 'orange', 'pineaple', 'cherry', 'watermelon', 45, 95.0]

In [29]:
print(fruits)

['strawberry', 'orange', 'pineaple', 'cherry', 'watermelon', 45, 95.0]

In [31]:
print(fruits)

['strawberry', 'orange', 'pineaple', 'cherry', 'watermelon', 45, 95.0, 'mango', 'apple', 'banana', 'grape']

In [14]:
fruits.remove(45)
fruits.remove(95.0)
print(fruits)

['cherry', 'orange', 'pineaple', 'strawberry', 'watermelon', 'goat', 'lion', 'sheep']

In [17]:
fruits.sort()
print(fruits)

['cherry', 'goat', 'lion', 'orange', 'pineaple', 'sheep', 'strawberry', 'watermelon']

In [18]:
fruits2=fruits.copy()
print(fruits2)

['cherry', 'goat', 'lion', 'orange', 'pineaple', 'sheep', 'strawberry', 'watermelon']

In [19]:
print(fruits)

['cherry', 'goat', 'lion', 'orange', 'pineaple', 'sheep', 'strawberry', 'watermelon']

## Dictionary

In [37]:
## Dictionary is changeable
## dictionary use the curly bracket for identification{}
## dictionary use the key to locate the element.

In [3]:
human={
    "name":"Emmanuel",
    "age":45,
    "marital_status":"married",
    "date":"04-11-2023"
}
print(type(human))
print(len(human))
print(human)

<class 'dict'>
4
{'name': 'Emmanuel', 'age': 45, 'marital_status': 'married', 'date': '04-11-2023'}

In [43]:
print(human["name"])

Emmanuel

In [45]:
print(human.keys())
print(human.values())

dict_keys(['name', 'age', 'marital_status', 'date'])
dict_values(['Emmanuel', 45, 'married', '04-11-2023'])

In [1]:
## Dictionary
## create a dictionary of students name students and subjects in which they awarded to them
students={
    "name":{"name1":"david","name2":"grace","name3":"Musa"},
    "subjects":{"subject1":"furthermaths","subject2":"Biology","sbject3":"English"},
    "score":{"score1":45,"score2":90,"score":78}
}

In [5]:
print(students["name"])
print(students["name"]["name2"])

{'name1': 'david', 'name2': 'grace', 'name3': 'Musa'}
grace

In [9]:
## method 1
r=({"height":1.97})
human.update(r)
print(human)

{'name': 'Emmanuel', 'age': 45, 'marital_status': 'married', 'date': '04-11-2023', 'height': 1.97}

In [10]:
## Method 2
human["height2"]=[1.92]
print(human)

{'name': 'Emmanuel', 'age': 45, 'marital_status': 'married', 'date': '04-11-2023', 'height': 1.97, 'height2': [1.92]}

In [11]:
## modifying a paticular value
human["marital_status"]="single"
print(human)

{'name': 'Emmanuel', 'age': 45, 'marital_status': 'single', 'date': '04-11-2023', 'height': 1.97, 'height2': [1.92]}

In [12]:
human["age"]="30"
print(human)

{'name': 'Emmanuel', 'age': '30', 'marital_status': 'single', 'date': '04-11-2023', 'height': 1.97, 'height2': [1.92]}