In [17]:
import pymysql

## HOW TO CONNECT MYSQL INTO PYTHON

In [18]:
mydb=pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    password="321000"
)
mycursor=mydb.cursor()

## HOW TO SHOW DATA FROM MYSQL

In [4]:
mycursor.execute('show databases')
for x in mycursor:
    print(x)

('agozie',)
('employee_details',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sales',)
('sys',)
('world',)

In [ ]:
## As a newly employed developer/programmer,
## creating a databse for jamb registration, National Identification number (NIN), Personal Information,
## choice of institution and courses
## jamb registration fee.

## ANYTIME WE WANT TO USE DATEBASE FROM MYSQL WE USE MYCURSOR.EXECUTE

In [11]:
mycursor.execute("create database JambRegistration")
mycursor.execute("show databases")
for x in mycursor:
    print(x)

In [9]:
mycursor.execute("use JambRegistration")
mycursor.execute("create table students(id int primary key not null,name varchar(255) not null,DOB date not null,mobile_No varchar(255),email_address text not null)")
mycursor.execute("show columns from students")
for x in mycursor:
    print (x)

('id', 'int', 'NO', 'PRI', None, '')
('name', 'varchar(255)', 'NO', '', None, '')
('DOB', 'date', 'NO', '', None, '')
('mobile_No', 'varchar(255)', 'YES', '', None, '')
('email_address', 'text', 'NO', '', None, '')

In [19]:
mycursor.execute("use JambRegistration")
def jamb_record():
    id=int(input("Enter Registration Number"))
    phone_number=input("Enter Your Mobible Number")
    National_identification_number=input("Enter Your NIN")
    Email_Address=input("Enter Your Email Address")
    
    query="insert into students (id,name,Phone_number,national_identification_number,email_address) values(%s,%s,%s,%s,%s)"
    mycursor.execute(query,(id,name,phone_number,national_identification_number,email_address))
    mydb.commit()
    print("record insert successfully...")
    
def search_jamb_record():
    id=int(input("ENTER SEARCH ID"))
    query= 'select * from students where id = "%s"'
    mycursor.execute(query,(id,))
    result=mycursor.fatchall()
    if len(result)==0:
        print("jamb record not found...")
    else:
        forx in mycursor;
        print(x)
        
def delete_jamb_record():
    id=int(input("Enter the ID number needed to be deleted..."))
    query="delete from students where id=%s"
    mycursor.execute(query(id))
    mydb.commit()
    
def main():
    print("welcome to Jamb Portal")
    print("jamb operation[jamb_record,delete_records,jamb_search,LOGOUT__PORTAL]")
    operation=True
    while operation:
        option=input("select operation:").lower()
        if option == "jamb_record":
            jamb_record()
        elif option == "display":
            display()
        elif option == "delete_records":
            delete_records()
        elif option == "search_jamb":
            search_jamb()
        elif option == "LOGOUT_JAMB_PORTAL":
            operation=false
        print("logout succesfully")    
        break

In [20]:
main()

welcome to Jamb Portal
jamb operation[jamb_record,delete_records,jamb_search,LOGOUT__PORTAL]
select operation:jamb_record
Enter Registration Number4400
Enter Your Mobible Number08066
Enter Your NIN567
Enter Your Email Addressadddf

NameError: name 'name' is not defined