In [1]:
import numpy as np
import pandas as pd

In [6]:
id=np.arange(1,32)
column=["JANUARY","FEBRAUARY","MARCH","APRIL","MAY","JUNE","JULY","AUGUST","SEPTEMBER","OCTOBER","NOVEMBER","DECEMBER"]
np.random.seed(1)
values=np.random.randint(200000,500001,372)# it is 372 because 31 by 12 = 372 
values=values.reshape(31,12)## 31 days in a Month by 12 Months in a year
df=pd.DataFrame(data=values,index=id,columns=column)
df

,JANUARY,FEBRAUARY,MARCH,APRIL,MAY,JUNE,JULY,AUGUST,SEPTEMBER,OCTOBER,NOVEMBER,DECEMBER
1,328037,467336,273349,317583,221440,429520,493372,367302,221758,376485,366802,251668
2,482090,388317,446322,292740,494103,421143,348209,226103,375582,496022,320809,299335
3,499327,317565,465750,399169,328896,394769,258072,331503,367914,405895,299782,216277
4,392049,376643,330091,332916,471696,295529,228114,343385,408239,275368,201046,312393
5,350503,414142,438871,301732,282075,220793,210835,406112,387810,365519,276527,289881
6,400647,200243,420462,450784,369688,205271,475825,275597,314680,233229,447558,394050
7,263052,269595,230869,495627,271757,301064,397675,278356,289630,278788,436089,282016
8,396877,222807,281788,264337,390343,445912,291850,412444,330708,252364,467123,464322
9,313255,287904,476969,439442,382742,454279,469327,346309,288694,449741,456626,484341
10,496788,318328,437973,236071,256416,470291,418137,464333,375316,269254,495608,418648
11,470786,214535,359541,481336,391784,382961,292529,254575,496397,271118,319440,238122
12,215917,483075,394944,228735,475381,341954,385812,328595,270704,380022,420448,361847
13,278046,223882,442824,320419,205716,305641,315520,238099,405937,398302,227534,361267
14,420947,458134,372423,411683,316143,253348,488544,206035,428120,292389,245743,272935
15,344261,226703,216241,343064,357410,261086,392836,465716,386574,315879,479715,417553
16,370442,235056,278896,462834,488044,443030,398135,251984,395859,214089,204720,434547
17,385199,335492,203605,400060,352707,427768,379408,379151,321415,325454,253965,282063
18,492661,323506,468189,430956,345883,338572,224474,447756,223495,323517,498027,401586
19,274534,373659,258181,218603,361178,409592,391429,338825,303732,266137,499547,382315
20,243346,389022,371860,405342,346279,233856,322676,377795,355718,284198,377235,463344
21,282237,252388,330327,240570,384569,338591,454517,366793,485353,357113,415798,376490
22,216489,318820,321968,205278,297395,353812,326377,475202,323093,376749,286864,219227
23,304776,304988,345026,431139,435917,377577,293476,272420,360936,454271,268083,305832
24,411161,385319,253360,493221,297378,392206,422890,204890,491048,447354,402716,432997
25,485673,480331,275872,334798,448011,343267,200379,268128,486318,403441,369850,220118
26,287137,359174,439268,415835,242482,335902,244409,266354,249966,216903,361237,458320
27,299997,355643,422202,324686,213719,452354,430108,356352,202791,499665,436572,476457
28,347281,260037,396650,291734,390265,364152,436110,421015,339258,430097,338952,206645
29,477267,421517,369220,202994,301188,242627,365562,260940,258767,286522,478346,261371
30,318405,470480,365727,213920,477931,269356,276063,307820,292952,357700,333671,374802
31,454330,310714,248638,433221,435002,308763,337717,368133,395077,435527,348942,290985